@model HomeModel
@{
    ViewData["Title"] = "All People";
}

@foreach (var person in Model.People)
{
	<form action="/eventsource/commitcrime" method="post">
		<h3>@person.Name</h3>
		<input style="display: none;" name="streamid" value="@person.Id"/>
		<label for="commitCrime">Commit Crime</label>
		<input id="commitCrime" name="crime" value=""/>
		<button type="submit">Do Crime</button>
		<a href="/eventsource/previouscrimes?streamid=@person.Id">Criminal History</a>
		<a href="/eventsource/getallevents?streamid=@person.Id">Get All Events</a>
	</form>
}

<a href="/eventsource/adduser">Add a new Person</a>