@using System.Linq
@model PreviousCrimesModel

@{
    ViewData["Title"] = "Previous Crimes";
}
<h2>@ViewData["Title"]</h2>

@if (Model.PreviousCrimes.Any())
{
    @foreach (var previousCrime in Model.PreviousCrimes)
    {
        <p>@previousCrime.Crime</p>
    }
} else {
    <p>Person has a clean criminal record</p>
}