@model HomeModel
@{
    ViewData["Title"] = "All People";
}

@foreach (var person in Model.People)
{
	<form action="/home/changename" method="post">
		<p>@person.Name</p>
		<input style="display: none;" name="streamid" value="@person.Id"/>
		<label for="changeName">Change Name</label>
		<input id="changeName" name="name" value=""/>
		<button type="submit">Save</button>
		<a href="/home/previousnames?streamid=@person.Id">Previous Names</a>
	</form>
}

<a href="/home/adduser">Add a new Person</a>